version: '3.9'

services:
  tests:
    image: lightning-universe/lightning-hivemind:latest
    command: pytest tests/ -v
    tty: true
    stdin_open: true
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./src:/app/src
      - ./tests:/app/tests