numpy <2.0  # needed for older Torch
torch <2.3  # fixme: freeze until AMP compatibility is resolved
lightning >=2.0.0
hivemind @ git+https://github.com/learning-at-home/hivemind.git@213bff98a62accb91f254e2afdccbf1d69ebdea9; sys_platform == 'linux'

