{%- set external_urls = {
  'github': 'https://github.com/Lightning-AI/lightning-Hivemind',
  'github_issues': 'https://github.com/Lightning-AI/lightning-Hivemind/issues',
  'contributing': 'https://github.com/Lightning-AI/lightning/blob/master/CONTRIBUTING.md',
  'governance': 'https://github.com/Lightning-AI/lightning/blob/master/governance.md',
  'docs': 'https://lightning-ai.github.io/lightning-Hivemind/',
  'twitter': 'https://twitter.com/PyTorchLightnin',
  'discuss': 'https://pytorch-lightning.slack.com',
  'tutorials': 'https://lightning.ai',
  'previous_pytorch_versions': 'https://lightning-ai.github.io/lightning-Hivemind/',
  'home': 'https://lightning-ai.github.io/lightning-Hivemind/',
  'get_started': 'https://lightning.ai',
  'features': 'https://lightning-ai.github.io/lightning-Hivemind/',
  'blog': 'https://www.Lightning-AI.ai/blog',
  'resources': 'https://lightning.ai',
  'support': 'https://lightning-ai.github.io/lightning-Hivemind/',
}
-%}
